<div>
    <h1>Estos son nuestros productos</h1>
    {{#each products}}
        <div>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <p>{{this.stock}}</p>
        </div>
    {{/each}}
</div>